<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<string>[ti:Connecting]Connecting</string>
	<string>[al:Download feat.初音ミク]Download feat.初音ミク初音未来</string>
	<string>[00:00.25]腾讯享有本翻译作品的著作权//</string>
	<string>[00:00.26]kotoba ： halyosy Connecting - hatsu ne mi ku </string>
	<string>[00:01.38]Find a reason to sing 寻觅歌唱的理由 </string>
	<string>[00:06.96]那个教会我歌唱的你  uta u ko to oxi e te ku le ta kimi ni </string>
	<string>[00:22.27]谁人撒落的乐章 dale ka ga kobo su MELODY wo     </string>
	<string>[00:26.82]dale ka ga hirotte   有谁人将其拾起 </string>
	<string>[00:33.02]名字样子都不知晓  na mae mo kao mo wa ka la na i </string>
	<string>[00:37.32]cuna ga lu ki seki ga 相连的奇迹  </string>
	<string>[00:43.90]而我只是透过画面 一味的凝望生羡 ga men go xi ta da naga me uraya n de ba ka li i ta </string>
	<string>[00:51.36]yima ma de wa 至今为止  </string>
	<string>[00:54.14]Find a reason to sing 寻觅歌唱的理由</string>
	<string>[00:59.64]我便能忘却时间沉迷其中  ji kan wo wasu le mu chuu ni na le ta n da </string>
	<string>[01:04.83]Find a reason to sing 寻觅歌唱的理由</string>
	<string>[01:10.05]神明馈赠的礼物  kami sama ni ata e la le ta o ku li mo no </string>
	<string>[01:15.91]与你的歌曲相连 Connecting connecting with your song </string>
	<string>[01:19.44]Connecting connecting with your dream 与你的梦想相依 </string>
	<string>[01:23.75]与你相连  Connecting with you </string>
	<string>[01:36.06]一路走来我们 赢了什么 输了什么  boku la wa nani to tataka i nani ni yabu le te </string>
	<string>[01:43.29]nani wo wuxina   te ki ta da lo u 失去了什么  </string>
	<string>[01:51.23]扭曲的言语 yuga n da koto ba ga </string>
	<string>[01:53.87]dale ka no niqi jyou wo uba u 夺走谁人的日常  </string>
	<string>[02:05.08]至今为止 yima ma de wa </string>
	<string>[02:07.94]寻觅歌唱的理由Find a reason to sing </string>
	<string>[02:10.64]kimi to uta e ba 和你共同吟唱 </string>
	<string>[02:18.52]寻觅歌唱的理由Find a reason to sing </string>
	<string>[02:21.20]yi cu ka hana so u </string>
	<string>[02:23.87]qi a n to me wo mi te 我会好好看着你的双眼  </string>
	<string>[02:28.91]</string>
	<string>[02:29.75]Connecting connecting with your song 与你的歌曲相连 </string>
	<string>[02:34.94]与你的人生相系 Connecting connecting with your life </string>
	<string>[02:37.63]Connecting with you 与你相连  </string>
	<string>[02:48.31]Everything's too hard for me right now 现在 每件事 于我皆举步维艰  </string>
	<string>[02:52.90]载入梦想 Download </string>
	<string>[02:53.54]Everything's a little crazy right now 现在 每件事 都似乎有些疯狂  </string>
	<string>[02:58.22]最真的感情Upload </string>
	<string>[02:59.12]do u xi te hito wa megu li a u no da lo u 人们为何辗转相遇  </string>
	<string>[03:09.41]而接下来又会发生些什么  so u xi te tsugi wa nani ga o ki lu no ka </string>
	<string>[03:14.51]Maybe nobody knows 也许无人能预料</string>
	<string>[03:23.45]如无处可去 yi ki ba wo na ku xi ta </string>
	<string>[03:26.13]a no kolo no boku no yo u ni 那时候的我 </string>
	<string>[03:33.93]到底被你的温柔  kimi no yasa xi sa ni </string>
	<string>[03:36.57]do le da ke suku wa le ta da lo u 拯救了多少次 </string>
	<string>[03:43.13]这次该轮到我 主动和他人相系 tsugi wa boku ga dale ka wo cuna ge ru ban da </string>
	<string>[03:51.06]Find a reason to sing 寻觅歌唱的理由</string>
	<string>[03:56.30]若能忘却时间沉迷其中 ji kan wo wasu le mu chuu ni na le lu na la </string>
	<string>[04:01.36]Find a reason to sing 寻觅歌唱的理由</string>
	<string>[04:06.78]神明馈赠的礼物  kami sama ni ata e la le ta o ku li mo no </string>
	<string>[04:12.09]Find a reason to sing 寻觅歌唱的理由</string>
	<string>[04:17.32]那个教会我歌唱的你  uta u ko to oxi e te ku le ta kimi ni </string>
	<string>[04:22.36]Find a reason to sing 寻觅歌唱的理由</string>
	<string>[04:27.88]这是一无所有的我 赠予你的礼物  nani mo na i ke do kimi he no o ku li mo no </string>
	<string>[04:33.67]与你的歌曲相连 Connecting connecting with your song </string>
	<string>[04:36.27]Connecting connecting with your dream 与你的梦想相依 </string>
	<string>[04:41.58]与你相连  Connecting with you </string>
	<string>[04:44.30]与你的歌曲相连 Connecting connecting with your song </string>
	<string>[04:46.90]Connecting connecting with your dream 与你的梦想相依 </string>
	<string>[04:52.11]与你相连  Connecting with you </string>
</array>
</plist>
